.App {
  text-align: center;
  padding: 15px 0px;
  color: white;
}
.task{
  text-align: left;
}
.block {
  padding: 15px 0px;
  margin-bottom: 15px ;
  border-radius: 8px;

}
.button{
  background-color: #871653;
}
.btn-hi{
  background-color: aqua;
}
.timer{
 font-size: 100px;
}
.bar{
  background-color: white;
  height: 2px;
}
